/*  展示区全局
    initViewColor     view背景色 
*/ 
$initViewColor:#ebebeb;


/*   Menu相关
     initMenuBackground                 背景色 
     initMenuColor                      字体色 
     initMenuHeight                     高度  
     initMenuActiveColor                active状态color 
*/ 
$initMenuBackground:#1a62c6;
$initMenuColor:#fff;
$initMenuHeight:60px;
$initMenuActiveColor:#ead023;
